{% extends "base_generic.html" %}

{% block content %}
<div class="flex flex-col">
    <h1>Add appointment</h1>
    <p class="description">Here you can add information about the appointment. <br> Fill the inputs below: </p>
        {% if user.is_doctor == True %}
            <div class="flex flex-col gap-1 bg-gray-200">
                <div class="p-2 h-fit w-80">
                    <div class="flex flex-col p-2 m-2 rounded-sm h-80">
                        <input type="text" placeholder="First Name" />
                        <input type="text" placeholder="Last Name" />
                        <input type="file" />
                        <div class="flex flex-col gap-1">
                          <p><strong>Date:</strong> <input type="date" /> </p>
                          <p><strong>Patient's status:</strong> 
                            <select>
                                <option value="h">Healthy</option>
                                <option value="r">Recovering</option>
                                <option value="i">Ill</option>
                            </select>
                          </p>
                          <p><strong>Сomplaint:</strong> <input type="text" /> </p>
                          <p><strong>Disease:</strong> <input type="text" /> </p>
                          <p><strong>Prescription:</strong> <textarea class="resize-none" value=""></textarea> </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
</div>
{% endblock %}

